
.show__sidebar.sidebar {
  transform: translateX(0);
}

/* ==========  Desktop First  ========== */
@media only screen and (max-width: 1440px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 1336px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 1280px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 1200px) {
  /* делать это разрешение */
}

@media screen and (max-width: 1080px) {
  /* делать это разрешение */
}

/* первое разрешение под казачика */
@media only screen and (max-width: 1024px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 991px) {
  .page__mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, rgba(32, 32, 32, 0.5), rgba(17, 17, 17, 0.8));
  }

  .show-sidebar,
  .no-scroll {
    overflow: hidden;
  }

  /* делать это разрешение */
  .sidebar {
    overflow-y: auto;
    margin-top: 40px;
    transform: translateX(-100%);
    transition: transform 0.2s linear;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar__header {
    height: 100px;
  }

  .sidebar__content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -3.85rem;
    min-height: 88vh;
  }

  .header__img {
    position: absolute;
    left: 5px;
    margin-left: 0;
    width: 65px;
    height: 65px;
  }

  .sidebar__position,
  .sidebar__name_autor {
    margin-left: 25px;
  }

  .sidebar__name_autor {
    padding-top: 4rem;
  }

  .sidebar__position {
    margin-top: 1rem;
  }

  .sidebar__footer,
  .sidebar__text {
    display: none;
  }

  .header {
    width: 100%;
  }

  .mobile-nav {
    display: block;
    flex-grow: 1;
    margin-top: 30px;
  }

  .mobile-nav ul {
    display: block;
    list-style: none;
  }

  .menu-item-has-children,
  .menu-item-has-children ul {
    position: static;
    width: 100%;
  }

  .menu-item-has-children ul {
    padding-left: 1rem;
    height: 0;
    opacity: 0;
    transition: height 0.2s ease, opacity 0.5s ease;
  }

  .menu-item-has-children ul.open {
    height: 100%;
    opacity: 1;
    transition: height 0.82s ease, opacity 0.82s ease;
  }

  .menu-item-has-children.active ul {
    height: 100%;
    opacity: 1;
  }

  .main {
    padding-left: 0;
  }

  .top__nav {
    display: none;
  }

  .header__left {
    width: 30%;
  }

  .header__right {
    width: 70%;
  }

  .burger {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    display: block;
    border: 0;
    border-radius: 0;
    padding: 0;
    width: 3rem;
    height: 2rem;
    box-shadow: none;
    background-color: transparent;
    transform: translateY(-50%);

    &::after,
    &::before,
    span {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      transition: opacity 0.2s linear;
    }

    &::before {
      content: "";
      top: 0;
      transition: transform 0.2s linear;
    }

    &::after {
      content: "";
      bottom: 0;
      transition: transform 0.2s linear;
    }

    span {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .burger.active::before {
    top: 50%;
    transform: rotate(45deg);
  }

  .burger.active::after {
    top: 50%;
    transform: rotate(-45deg);
  }

  .burger.active {
    span {
      opacity: 0;
    }
  }

  .mobile-nav ul li a {
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  .sidebar_sicial {
    padding-bottom: 15px;
  }

  .mobile-nav ul li >ul li a {
    padding-top: 1.55rem;
    padding-bottom: 1.55rem;
    font-size: 1.4rem;
    text-transform: none;
  }
}

@media only screen and (max-width: 980px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 834px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 815px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 812px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 800px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 768px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 740px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 736px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 734px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 700px) {
  /* не обьязательно делать это разрешение */

  .container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .add__post,
  .post {
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 684px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 667px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 640px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 600px) {
  /* делать это разрешение */
  .stories {
    grid-template-columns: 150px 150px 150px 150px;
    overflow: auto;
  }

  .post__footer {
    flex-wrap: wrap;
  }

  .post__read,
  .post__data li {
    padding: 0.7rem 1.5rem;
  }

  .pagination li {
    margin: 0;
  }

  .pagination {
    column-gap: 0.5rem;
    flex-wrap: wrap;
    row-gap: 5px;
  }
}

@media only screen and (max-width: 575px) {
  .work {
    display: flex;
    flex-direction: column;
  }

  .work__title {
    font-size: 2.3rem;
  }

  .work__content {
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 568px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 480px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 425px) {
  /* делать это разрешение */
  .main {
    padding-bottom: 4rem;
  }

  .pagination {
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 414px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 412px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 387px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 384px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 375px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 360px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 320px) {
  /* делать это разрешение */
  .add__post__action {
    width: 90px;
  }

  .send__shortpost,
  .add__post__file {
    width: 35px;
    height: 35px;
  }
}



/* ==========  Mobile First  ========== */




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)  */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
